body {
    text-align: center;
}

/*CONTENT*/
#map {
    text-align: center;
}

/*HEROIMAGE*/
.hero img {
    width: 100%;
}

/*CONTENT*/
.content {
    font-family: Arial, Helvetica, sans-serif;
}

.team-member {
    padding: 0 100px 50px 100px;
}

.team {
    display: flex;
    text-align: center;
    justify-content: center;
}

.content-title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content:nth-of-type(even){
    background-color: white;
}

.content:nth-of-type(odd){
    background-color: #f5f5f5 ;
}

p {
    padding: 0 200px 50px 200px;
    text-align: center;
}

#watches {
    display: flex;
    justify-content: center;
}

.watch {
    padding: 0 50px 10px 50px
}
